* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1C1C;
}

header {
    background-color: #F4F4F4;
}

.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
}

.infos,
.logo {
  padding: 0 0 0 2rem;
}

.infos {
    width: 80%;
}

.logo p {
    font-size: 1rem;
}

.logo p span {
    color: #EA9F05;
    font-weight: 600;
}

.logo img {
    width: 100%;
}

.compte--panier {
    display: flex;
    justify-content: space-between;
}

.compte,
nav {
    padding: 1rem 0 0 1rem;
}

.compte {
    padding: .6rem 0 .6rem 1rem;
    background-color: #EAEAEA;
    border: 1px solid #000;
    margin-top: 1rem;
}

.compte--panier p {
    padding: 1rem 2rem 0 0;
}

nav {
    clear: right;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline;
    padding: 1rem;
    border-left: 1px solid rgb(211, 209, 209);
}

nav ul li:nth-child(3) {
    border-right: 1px solid rgb(211, 209, 209);
}

a {
    text-decoration: none;
    color: #000;
}

.infos > p:nth-child(2) {
    float: right;
    font-size: 1.3rem;
    padding: .5rem ;
}

main {
    width: 60%;
    margin: auto;
}

main img {
    width: 100%;
}

#products {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;
    margin-top: -.5rem;
    padding: 6rem;
}

figure {
    position: relative;
    width: 75%;
    margin: 1rem auto;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.46); 
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.46);
}

figcaption {
    position: absolute;
    bottom: .5rem;
    left: 25%;
    font-size: .8rem;
}

figure span {
    position: absolute;
    top: .3rem;
    right: -1rem;
    background-color: #3C3C3C;
    color: #EA9F05;
    font-weight: 600;
    padding: .5rem;
}

.product {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tarifs {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.tarifs a {
    background-color: #2E2E2E;
    color: #FFF;
    padding: .5rem;
}

.tarifs p:nth-child(2) {
    text-decoration: line-through;
    padding: .3rem .2rem;
}

.tarifs p:nth-child(3) {
    color: #EA9F05;
    font-size: 2rem;
    font-weight: 600;
}

footer {
    position: relative;
    background-color: #373737;
}

.bandeau {
    background-color: #373737;
    width: 100%;
    height: 1rem;
}

.bandeau,
.nav--footer {
    position: absolute;
    top: -1.2rem;
    width: 100%;
}

.nav--footer ul {
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
    width: 40%;
    padding: 1rem;
    margin: auto;
    border-radius: 0 0 .5rem .5rem;
    -webkit-border-radius: 0 0 .5rem .5rem;
    -moz-border-radius: 0 0 .5rem .5rem;
    -ms-border-radius: 0 0 .5rem .5rem;
    -o-border-radius: 0 0 .5rem .5rem;
}

.nav--footer ul li {
    display: inline;
}

.nav--footer ul li a {
    padding: 0 .6rem;
}

.icones {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 3rem 0;
}

.icones--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    padding: 1rem  .5rem;
    font-size: .8rem;
}

.icones--text p {
    padding-top: 1rem;
}

.social {
    text-align: center;
    margin: 0 0 2rem 0 
}

.social a {
    padding: 0 1.5rem;
}

footer p {
    text-align: justify;
    color: #FFF;
    font-size: .8rem;
    text-align: center;
}

.footer--text {
    padding: 1rem;
}